@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var gig in Model)
    {
        <li>@gig.DateTime.Date.ToString("MMM d yyyy") - @gig.Artist.Name</li>
    }
</ul>